@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(51, 50, 50);
}

.menu{
    width: 4%;
    height: 100vh;
    background-color: rgb(34, 32, 32);
}

.menu img{
    margin: 15px;
    cursor: pointer;
}

#facebook, #twitter{
    position: relative;
    top: 75%;
    margin: 20px;
    cursor: pointer;
}

.content-home-products{
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: space-around;
}

.left-side{
    width: 500px;
}

#pizza-sabor-type, #price{
    font-size: 7rem;
    font-family: 'Staatliches', cursive;
    color: white;
    font-weight: 100;
}

#ingredientes{
    color: gray;
    font-family: sans-serif;
    font-size: 1rem;
}

#price{
    font-size: 2.5rem;
}

#sizes{
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 1rem;
}

.price-and-select{
    width: 200px;
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: space-between;
}

#btn-Order-now{
    width: 200px;
    height: 40px;
    background-color: orangered;
    border: 0;
    border-radius: 20px;
    font-weight: 600;
}