*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(51, 50, 50);
}

.menu{
    width: 100vw;
    background-color: rgb(34, 32, 32);
}

.menu img{
    position: relative;
    left: 10%;
    margin-bottom: 15px;
    cursor: pointer;
}

#facebook, #twitter{
    position: relative;
    left: 80%;
    margin: 20px;
    cursor: pointer;
}

.content-home-products{
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: space-around;
}